#flex-container{
    display: flex;
    background: dodgerblue;
}

#flex-container > div{
    background-color: darkgreen;
    text-align: center;
    color: white;
    font-size: 30px;
    width: 150pc;
    margin: 10px;

}

#sin-flex{
    background: dodgerblue;
}

#sin-flex > div{
    background-color: red;
    margin: 4px;
    color: white;
}

#flex-container-2{
    background-color: dodgerblue;
    display: flex;
    flex-direction: row;
}

#flex-container-2 > div{
    
    background-color: red;
    color: white;
    text-align: center;
    font-size: 30px;
    width: 150px;
    margin: 10px;
}

#flex-container-3{
     background-color: dodgerblue;
     display: flex;
     flex-wrap: wrap-reverse;
}

#flex-container-3 > div {
    background-color: green;
    color: white;
    text-align: center;
    font-size: 30px;
    width: 50px;
    margin: 10px;
}

#flex-container-4{
    background-color: dodgerblue;
    display: flex;
    justify-content: space-between;
}

#flex-container-4 > div {
    background-color: green;
    color: white;
    text-align: center;
    font-size: 30px;
    width: 50px;
    margin: 10px;
}